body{
    background-color: #4e697e;
}

div#cabecera, div#piepagina{
    background-color: #718595;
    padding: 20px;
    color: #fffacd;
}
div#cabecera{
    margin-bottom: 50px;
}

div#cuerpo, div#enlaces{
    background-color: #c9cfd4;
}