body{
    background-color: #6d92a0;
    
}
div#cabecera, div#enlaces, div#cuerpo, div#piepagina{
    border-radius:30px;
}

div#cabecera{
    text-decoration: underline;
    text-align: center;
    
}
div#piepagina{
    text-align: right;
}
div#cabecera , div#piepagina{
    font-family: "Arial";
    
    background-color: #022735;
    color:#eeeeee;
    padding: 20px;
    margin-left:5%;
    margin-right:5%;
}

div#enlaces{
    background-color: #103e50;
    padding:30px;
    color: #e0ffff;
        
    
}

div#enlaces,div#cuerpo{
    margin-top: 7%;
    margin-bottom:7%;
}

div#cuerpo{
    background-color: #457485 ;
    
    padding: 50px;
    color: #e0ffff;
    
    font-family: "Helvetica";
}



div#cuerpo{
    width: 75%;
    float:left;
}
div#enlaces{
    width: 15%;
    float: right;
}
div#piepagina{
    clear: both;
}
