div#lema{
  float:left;
  width:33%;
  background-color: rgb(220, 220, 220);
}
div#enlaces{
  float:right;
  width:66%;
  background-color: rgb(240, 220, 230);
}

div#publi1{
  float:left;
  width:25%;
  background-color: rgb(200, 220, 200);
}

div#contenido{
  background-color: rgb(190, 220, 240);
  float:left;
  width: 50%;
}
div#publi2{
  float:right;
  width:25%;
  background-color: rgb(200, 220, 200);
}

div#copyright{
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
}