div{
    border : solid 5px black;
    margin : 50px;
    padding: 25px;
}

#caja1, #caja2, #caja3{
    margin: 3px;
    padding: 25px;
    font-size: x-large;
    font-weight: bold;
}


#contenedor{
    margin: 50px 30%;
    display: flex;
    flex-flow: row wrap ;
    height:500px;
    align-items: baseline;
}

#caja1{
    height: 150px;
}
#caja2{
    height: 250px;
}
#caja3{
    height: 100px;
}